<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chat Redis - Sub/Pub</title>
    </head>
    <body style="text-align: center;">
        
        <form  action="/chat">
            <input style="width: 200px; height: 30px; border-radius: 3px; border-color: black;"  
                id="nome" type="text" name="nome" placeholder=" NOME " />


            <button style="border-radius: 3px; border-color: black; 
            background-color:darkgreen; color: white; width: 70px; 
            height: 35px; font-weight: bold;"
              
            type="submit">Enviar</button>
        </form>
    </body>

</html>